@use "../../scss-utils/variables" as *;
@use "../../scss-utils/mixins" as *;
@use "../../scss-utils/media-mixins" as *;

.sidebar {
    width: 30%;
    height: 85vh;

    &__container {
        background-color: $bg-color-container;
        @extend %small-shadow;
        border-radius: 8px;
        margin-bottom: 2vh;
        min-height: 90%;
    }

    @include tablet {
        width: 100%;
        z-index: 10;
        position: relative;
        min-height: 100vh;
        right: 5px;
        left: 0;
    }
}