@use "../../scss-utils/variables" as *;
@use "../../scss-utils/mixins" as *;
@use "../../scss-utils/media-mixins" as *;

.options-list {
    &__item {
        position: relative;
        display: flex;
        justify-content: space-between;
    }

    &__label {
        cursor: pointer;
        margin-left: 13px;
        @include text(32px, "smaller", "light");

        &::before {
            @include pseudo(19px, 17px, block, absolute);
            background-color: $bg-color-container;
            cursor: pointer;
            border: 1px solid $light-font-color;
            border-radius: 3px; 
            left: 0;
            top: 7px;
        }

        &_round {
            &::before {
                @include box(18px, 15px);
                border-radius: 50%;
                border: 1px solid $light-font-color;
                top: 8px;
            }
        }
    }

    &__input {
        visibility: hidden;

        &:checked ~ .options-list__label::before {
            background-color: $primary-color;
        }
    }

    &__amount {
        @include text(normal, "small", "light");
        padding-top: 5px;
    }

    &__disabled-note {
        color: tomato;
        @include text(normal, "small", "light");
        align-self: center;
    }
}